In [ ]:
# Reading a query from a  MySQL database will need 2 packages : SQLAlchemy and PyMySQL connector
# SQLAlchemy is used by Python to interact with relational databases
# PyMySQL connector is used by SQlAlchemy to establish a connection to the MySQL database
# First of All, check if SQLAlchemy or MySQL connector, is installed with the below command :
%pip list
# The output will be a list of installed packages. If the required packages are absent, you can install them with the below command :

In [ ]:
#SQLAlchemy interacts with the tables in the database
pip install -v sqlalchemy

In [ ]:
# install mysql connector
pip install -v pymysql

In [1]:
# Now import the  create_engine module from the sqlachemy package. This will interact with the MySQL database
from sqlalchemy import create_engine

In [3]:
#import the pymsql package. This will aid SqlAlchemy connect to the MySQL database
import pymysql

In [5]:
# Import the pandas package. This will aid storing the MySQL query result into a dataframe
import pandas as pd

In [7]:
# We now create an "engine" or connection to the MySQL database
# The required parameters are the database name, username and password
# create sqlalchemy engine
engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}"
                       .format(user="database_user",
                               pw="password",
                               db="dbase"))

In [63]:
# We now define the dataframe to contain the results of the Sql query
# The query is executed by calling the read_sql_query method of pandas
# The query is enclosed in 3 single quotes, used to enclose long texts in python
# The con parameter holds the value of the "connection" , which was created from the SQLAlchemy engine
df = pd.read_sql_query('''SELECT agent_amount,local_ref,transaction_type,
get_commission_percentage(transaction_type) commission_percentage,
ROUND((get_commission_percentage(transaction_type)/100)*agent_amount,2) expected_commission,
get_transaction_amount(local_ref) provider_amount,
get_commission(local_ref) provider_commission
FROM matched_status_single_row
ORDER BY local_ref''', con=engine)

In [67]:
#The next step is to convert the provider_commission column to a float
# in order to subtract from the expected commission
df["provider_commission"]=pd.to_numeric(df['provider_commission'],errors='coerce')

In [71]:
# After the conversion,the column values with errors , ie 'NaN' values,
#are converted to zero
df["provider_commission"]=df["provider_commission"].fillna(0);

In [73]:
# A new column is created to contain the difference between  the expected commission and
# the commission paid by the provider
df["commission_difference"]=df["expected_commission"]-df["provider_commission"]

In [77]:
#write the dataframe to csv file
df.to_csv("vas_final_analysis.csv",index=False)